<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="myDocumentDirectory" value="HanbiCS"/>
    <add key="accessFileName" value="HanbiTest.mdb"/>
    <!--<add key="apiServerVersionUrl" value="http://202.134.18.15:6060/cs/version"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="AppPath" value=""/>
    
    <add key="WmsSocketIp" value="115.146.122.105"/>

    <add key="cancelPaymentUrl" value="http://202.134.18.15/api/order/cancel_payment"/>

    <!--<add key="versionSftpUrl" value="202.134.18.21;202.134.18.21" />
    <add key="versionSftpPort" value="100;200" />
    <add key="versionSftpId" value="root;root" />
    <add key="versionSftpPw" value="kmarket2020;kmarket2020" />
    <add key="versionSftpDir" value="/sorc001/siren/version;/sorc001/siren/version" />-->

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
